{
  "branches": "main",
  "dryRun": "true",
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec",
          {
            "verifyReleaseCmd": "./gradlew setVersion -PnewVersion=${nextRelease.version}; \
            git add app/build.gradle.kts; \
            git commit -m 'Release ${nextRelease.version}';
            git tag ${nextRelease.version};
            git push origin main;"
          }
    ]
  ]
}
